*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #5567f0;
}

.header{
    position: relative;
    text-align: center;
}

img{
    height: 75%;
    width: 75%;
}

.wrapper{
    position: absolute;
    width: 90%;
    background-color: #ffffff;
    max-width: 35em;
    padding: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    text-align: center;
}

.form{
    padding: 10px;
    margin: 5px;
}

.input{
    margin: 5px;
}

